html {
  overflow-x: hidden;
}
.rating {
    font-size: 24px; /* Đặt kích thước của biểu tượng sao */
}
.rating i {
    color: gold; /* Đặt màu sắc cho các sao đã chọn */
}
.star-rating {
    display: inline-block; /* Đặt các biểu tượng sao cùng một hàng */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
    font-size: 20px; /* Đặt kích thước của biểu tượng sao */
}

.ratings-info {
    display: inline-block; /* Đặt nội dung số ratings và reviews cùng một hàng */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
    margin-left: 10px; /* Khoảng cách giữa biểu tượng sao và nội dung */
}
.info {
    margin-left: 0; /* Đặt lề trái của tất cả các thẻ là 0 */
    padding-left: 20px; /* Tạo lề trái cho các thẻ */
}
.custom-card-body {
    text-align: center; /* Căn giữa nội dung của div */
}

.custom-card-body h3 {
    color: red; /* Đặt màu cho thẻ h3 */
    margin-bottom: 20px; /* Tạo khoảng cách dưới thẻ h3 */
}

.custom-card-body p {
    text-align: left; /* Căn lề trái cho các thẻ p */
    margin-left: 25%;
}
/* /////////////////// */

body > div:nth-child(2) {
    margin: 5% auto 0;
    max-width: 90%;
}
.tabs {
    display: flex;
    justify-content: center;
}
.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #0466d1;
    transition: all 0.2s ease;
}
.tab-item {
    min-width: 80px;
    padding: 0px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #0466d1;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}
.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}
.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
    opacity: 1;
    font-size: 23px;
}
.tab-content {
    padding: 28px 0;
}
.tab-pane {
    color: #333;
    display: none;
}
.tab-pane.active {
    display: block;
}
.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}
.row.p-5 {
    padding-bottom: 0px solid;
}
/* //////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////// */

#testimonials {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.testimonials-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonials-heading h2 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #fff;
    padding: 10px 20px;
}

.testimonials-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.testimonials-box {
    width: 70%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile {
    display: flex;
    align-self: center;
}
.name-user {
    display: flex;
    flex-direction: column;
}
.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span {
    color: #979797;
    font-size: 0.8rem;
}
.review {
    color: #f9d81c;
}
.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment {
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonials-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
/* ////////////////////////////////// */
.accordion {
    margin: 60px auto;
    width: 70%;
}
.accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}
.accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
label::before {
    content: "+";
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
}
input[type="checkbox"] {
    display: none;
}
.accordion .content {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="checkbox"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="checkbox"]:checked + label::before {
    content: "-";
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
}
p {
    margin-left: 20px;
}
hr {
    opacity: 0.2;
}


/*////*/

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 25px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
